<div class="jumbotron">
  <h1 class="title">Markitoff</h1>
  <ul>
    <li>Application That Allows User to create List</li>
    <li>Application That Allows User to delete List</li>
    <li>Application That Self-destructs</li>
  </ul>
</div>
